<footer class="footer page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Employees 1.0</h5>
                <p class="grey-text text-lighten-4">Web application for managment employees</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Navegate</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright mt-auto border-top px-3 text-right" style="margin-top:50px; ">
        <div class="container">
            © 2019 Copyright Consorcio Qutub Minar S.A.S.

        </div>
    </div>
</footer>